<ul>
  <h3>My tasks</h3>
  <% @tasks.each do |task| %>
    <li>
      <h5>
        <%= link_to task.title, task_path(task) %>
        <%= link_to "🗑",
        task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </h5>
    </li>
  <% end %>
  <h4><%= link_to "Add new task", new_task_path  %></h4>
</ul>

